<div class="show">
	<div class="row">
		<div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
		  <div class="carousel-inner">
		    <div class="carousel-item active">
		    	<%= image_tag "layout/s1.png", class: "d-block w-100 slide-image" %>
		    </div>
		    <div class="carousel-item">
		     <%= image_tag "layout/s2.png", class: "d-block w-100 slide-image" %>
		    </div>
		    <div class="carousel-item">
		      <%= image_tag "layout/s3.png", class: "d-block w-100 slide-image" %>
		    </div>
		  </div>
		</div>
	</div>

	<div class="row">
		<h1 class="display-1 text-center">Harmony Club of Worcester</h1>
		<p>The Harmony Club of Worcester, Massachusetts is a fraternal organization of men and women of French descent that was organized in 1925. The Club holds monthly meetings at O'Connor's Restaurant in Worcester with guest speakers. The Club also sponsors other cultural/social/sport events, tours, adult and children's Christmas parties. Members can participate in our golf league that takes place at Bed Rock Golf Club in Rutland, MA.</p>
		<br>
		<p>Our major fund raiser is our "Bob Picard Memorial Golf Tournament" that is held at the Leicester Country Club in Leicester, MA every September. The proceeds from this tournament are the sole funding of the scholarship and civic awards.</p>
	</div>
</div>