<h1>Contact Us</h1>
<form>
	<div class="row mb-3">
		<div class="col-sm-2">
			<label for="nameF" class="form-label">First Name</label>
		</div>
		<div class="col-sm-6">
			<input type="text" class="form-control" id="nameF">
		</div>
	</div>
	<div class="row mb-3">
		<div class="col-sm-2">
			<label for="nameL" class="form-label">Last Name</label>
		</div>
		<div class="col-sm-6">
			<input type="text" class="form-control" id="nameL">
		</div>
	</div>
	<div class="row mb-3">
		<div class="col-sm-2">
			<label for="email" class="form-label">Email</label>
		</div>
		<div class="col-sm-6">
			<input type="email" class="form-control" id="email">
		</div>
	</div>
	<div class="row mb-3">
		<div class="col-sm-2">
			<label for="comment" class="form-label">Comment</label>
		</div>
		<div class="col-sm-6">
			<textarea type="text-area" class="form-control" id="comment"></textarea>
		</div>
	</div>


	<button type="submit" class="btn btn-primary">Submit</button>
</form>