<h1 class="mb-4">All Events</h1>
<% @events.each do |event| %>
	<div class="row mb-4">
		<div class="col-md-4 text-center">
			<%= image_tag event.photo, class:"w-100" %>
		</div>
		<div class="col-md-8">
			<%= raw event.details %>
		</div>
	</div>
<% end %>